<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat - Transaction</title>
</head>
<body>
    <h2> Create Transaction</h2>
    <form action="{% url 'tracker:create' %}" method="post" enctype="application/x-www-form-urlencoded">
        {% csrf_token %} <br> <br>

        <label> choose a category </label>
        <select name="category" >
            <option value="income">Income</option>
            <option value="expenses">Expenses</option>
            <option value="debt">Dept</option>
        </select>

        <br><br>

        <label> Description: </label>
        <textarea name="description"></textarea> <br><br>

        <label> Amount: </label>
        <input type="number" name="amount" step="0.01"> <br><br>

        <input type="submit" value="submit">

    </form>
</body>
</html>