<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>This is Home Page</h2>
    <ul>
        <li> <a href="{% url 'tracker:create' %}">CREATE</a> </li>
        <li> <a href="{% url 'tracker:read' %}">READ</a> </li>
        <li> <a href="{% url 'tracker:read' %}">UPDATE</a> </li>
        <li> <a href="{% url 'tracker:read' %}">DELETE</a> </li>
    </ul>
</body>
</html>