<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read View</title>
</head>
<body>
    <h2>View Transaction</h2>
    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor%}
    {% endif %}
    <ul>
        {% for obj in objects %}
        <li>{{ obj.text }} | created by {{ obj.user }}</li>
        <p>Category:  {{obj.choice}} </p>
        <p>Amount: {{obj.amount}} </p>
        <p><a href="{% url 'tracker:delete' obj.id %}">Delete</a></p> <br> <br>
        {% endfor %}
    </ul>
</body>
</html>