<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    {% for message in messages %}
        <ul>
            {% if message.tags %}
            <li class="{{ message.tags }}">
                {{ message }}
            </li>
            {% endif %}
        </ul>
        
    {% endfor %}
    <form method="post" action="{% url 'auth:login' %}">
        {% csrf_token %} <br><br>
        <label for="username">User Name</label>
        <input type="username" name="username" required> <br><br>

        <label for="password">Password</label>
        <input type="password" name="password" required> <br><br>

        <input type="submit">
    </form>
</body>
</html>